body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.row-style
{
  padding-top:30px;
  
}

.custom-jumbotron {
  
  padding: 20px;
  border-radius: 15px; 
}
.light-pink-bg {
  background-color: #800080; 
  
}
.card-title{
  background-color:#dda0dd;
  padding: 10px;
  border-radius: 15px;
  font-size: 20px;
  
}
.text-style
{
  float: right;
  text-decoration:None;
}

.custom-list {
  list-style-type: disc; /* Style the bullet points as discs */
  padding-left: 20px; /* Adjust the indentation as needed */
}
.image{
  width:100%;
  height:350px;
  
}
.card:hover {
  box-shadow: 0 0 15px #800080; /* Purple box shadow */
}
.card {
  
  transition: box-shadow 0.3s ease-in-out;
}
.banner_content{
  position : absolute;
  top:50%;
  left :50%;
  transform: translate(-50%, -125%);
  background-color: rgba(5, 5, 5, 0.5);
  padding: 50px;
  border-radius : 20px;
  color : white;
  
}
.row_img{
  width :100%;
  height : 300px;
  border-radius: 50%;
  padding-top: 20px;
}



.subnav {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
  padding-bottom: 10px;
}

.top-left {
  position: absolute;
  
  left: 0;
  gap: 20px;
  display: flex;
}

.top-right {
  position: absolute;
  
  right: 0;
  gap: 20px;
  display: flex; /* Ensures buttons are on the same line */
}


.fixed-footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #000; /* Background color for the footer */
  color: #fff; /* Text color for the footer */
  text-align: center;
  padding: 10px; /* Add padding for spacing */
  
}

.like-button {
  margin-right: 10px; /* Adjust the value to control the space */
  margin-left: 10px;
}

.dislike-button {
  margin-right: 10px; /* Adjust the value to control the space */
  margin-left: 10px;
}
.contract-item {
  display: flex;
  justify-content: space-between;
}

.description {
  width: 70%; /* Adjust as needed */
}

.status {
  width: 30%; /* Adjust as needed */
}




